$flex-map: (
    s: flex-start,
    e: flex-end,
    sb: space-between,
    sa: space-around,
    st: stretch,
    c: center,
);

@function _get-flex-value($key) {
    @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
    display: flex;
    align-items: _get-flex-value($ai);
    justify-content: _get-flex-value($jc);
    @content;
}

@mixin inline-flexbox($jc: center, $ai: center) {
    display: inline-flex;
    align-items: _get-flex-value($ai);
    justify-content: _get-flex-value($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
    display: flex;
    flex-direction: column;
    align-items: _get-flex-value($ai);
    justify-content: _get-flex-value($jc);
}


.list {
    @include flexbox(end, stretch);
}



@mixin pos-center-x($type: absolute) {
    @if ($type ==fixed or $type ==absolute) {
        position: $type;
        top: 50%;
        transform: translateX(-50%);
    }
}

@mixin pos-center-y($type: absolute) {
    @if ($type ==fixed or $type ==absolute) {
        position: $type;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin pos-center($type: absolute) {
    @if ($type ==fixed or $type ==absolute) {
        position: $type;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}



$s-breakpoint: 430px;
$m-breakpoint: 600px;
$l-breakpoint: 768px;
$xl-breakpoint: 900px;
$xxl-breakpoint: 1024px;
$xxxl-breakpoint: 1280px;
$xxxxl-breakpoint: 1440px;


@mixin responsive($screen) {
    @if ($screen =='s') {
        @media screen and (max-width: $s-breakpoint) {
            @content;
        }
    }

    @if ($screen =='m') {
        @media screen and (max-width: $m-breakpoint) {
            @content;
        }
    }

    @if ($screen =='l') {
        @media screen and (max-width: $l-breakpoint) {
            @content;
        }
    }

    @if ($screen =='xl') {
        @media screen and (max-width: $xl-breakpoint) {
            @content;
        }
    }

    @if ($screen =='xxl') {
        @media screen and (max-width: $xxl-breakpoint) {
            @content;
        }
    }

    @if ($screen =='xxxl') {
        @media screen and (max-width: $xxxl-breakpoint) {
            @content;
        }
    }

    @if ($screen =='xxxxl') {
        @media screen and (max-width: $xxxxl-breakpoint) {
            @content;
        }
    }


    @if ($screen) {
        @media screen and (max-width: $screen) {
            @content;
        }
    }
}