//common.scss
@import url(./reset.css);
@import './mixin';

#root {
    header {
        @include flexbox(sb, c);
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: rgb(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        border-bottom: 1px solid #A0A0A0;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 0 50px;


        nav {
            @include flexbox();
            gap: 30px;


            a {
                display: block;
            }

            a:hover {
                color: #A0A0A0;
                transition: 0.5s;
            }
        }

    }


    @include responsive(s) {
        header {
            justify-content: center;
            font-size: 16px;

            >div {
                display: none;
            }
        }
    }



    //main main main main main main

    main {

        //마우스커서 
        .circle {
            background-color: rgb(255, 255, 255, 0%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s ease-out;
            z-index: 50;
            border: 1px solid #A0A0A0;

            @include responsive(xl) {
                display: none
            }

            &.Big {
                width: 60px;
                height: 60px;
            }
        }



        .home {
            margin: 0 50px;

            .h_main {
                @include flexbox(sb);
                margin-top: 100px;

                .h_left {
                    width: 50%;
                    @include column-flexbox(sb);

                    .title {
                        font-family: 'Bebas Neue', sans-serif;
                        font-size: 12vw;
                        line-height: 0.9;
                        color: #057FFE;
                        padding: 40px 10px 10px;

                    }


                }

                .h_right {
                    height: calc(100vh - 100px);
                    @include column-flexbox();
                    justify-content: flex-end;
                    align-items: flex-end;

                    .bubble1,
                    .bubble2 {
                        @include flexbox(e);
                        margin: 0 250px 0 30px;
                        opacity: 0;
                        transform: translateY(50px);

                        &:before,
                        &:after {
                            content: '';
                            display: inline-block;
                            height: 70px;
                        }

                        &:before {
                            width: 39px;
                            background: url('../public/img/bg_chat_l.png') no-repeat left 0;
                        }

                        &:after {
                            width: 49px;
                            background: url('../public/img/bg_chat_r.png') no-repeat right 0;
                        }

                        >div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            background: url('../public/img/bg_chat_c.png') repeat-x 0px 0px;
                        }

                        h3 {
                            font-weight: 500;
                        }
                    }



                    .bubble1 {
                        animation: fadein 1s forwards;
                    }

                    .bubble2 {
                        padding-top: 10px;
                        animation: fadein 1s 0.5s forwards;
                    }

                    @keyframes fadein {
                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    .mimoticon {
                        width: 250px;
                        margin: 5%;

                        img {
                            width: 100%;
                        }
                    }

                }
            }



            .scroll {
                text-align: center;
                padding-top: 10px;
            }

        }

        @include responsive(xxxl) {
            .home {

                .h_main {

                    .h_left {
                        .title {
                            padding: 15px 10px 10px;
                        }
                    }

                    .h_right {

                        .bubble1,
                        .bubble2 {
                            margin: 0 180px 0 20px;
                        }
                    }
                }
            }

        }

        @include responsive(xxl) {

            .home {

                .h_main {
                    .h_left {
                        .title {
                            padding: 20px 10px 10px;
                        }
                    }

                    .h_right {

                        .bubble1,
                        .bubble2 {
                            margin: 0 120px 0 10px;
                        }

                        .mimoticon {
                            margin: 0;
                        }
                    }
                }
            }

        }

        @include responsive(xl) {
            .home {
                .h_main {

                    .h_right {

                        .bubble1,
                        .bubble2 {
                            margin: 0 100px 0 10px;

                            .bubble_txt {
                                font-size: 18px;
                            }
                        }

                        .mimoticon {
                            width: 220px;
                        }
                    }
                }
            }

        }

        @include responsive(l) {
            .home {
                .h_main {
                    display: block;
                    border-top: none;


                    .h_left {
                        border: none;
                        padding-top: 20px;

                        .title {
                            border: none;
                            font-size: 15vw;
                        }

                    }

                    .h_right {
                        max-height: 60vh;
                        justify-content: center;

                        .bubble1,
                        .bubble2 {
                            .bubble_txt {
                                font-size: 18px;
                            }
                        }

                        .mimoticon {
                            width: 220px;
                        }
                    }
                }
            }

        }

        @include responsive(s) {
            .home {
                margin: 0 20px;

                .h_main {

                    .h_left {
                        .title {
                            font-size: 22vw;
                        }

                    }

                    .h_right {

                        // transform: scale(0.9);
                        // .bubble2 {
                        //     display: none;
                        // }
                    }
                }
            }
        }
    }
}





//about2 about2 about2 about2 about2 about2 2222222222222222222

.about2 {
    position: relative;
    margin: 0 50px;

    .about_main {
        display: flex;
        gap: 25%;
        padding-top: 100px;

        .title {
            font-size: 1.7rem;
            line-height: 2.2rem;
            word-break: keep-all;

            .txt_box {
                span {
                    transition: 0.5s ease-in-out;
                }
            }

            .toggle {
                cursor: pointer;
            }

            &.effect {
                .txt_box {
                    span {
                        font-weight: 700;
                    }
                }
            }
        }


        .profile {
            transition: 0.5s;
            display: grid;
            box-sizing: content-box;
            grid-template-columns: 30% 70%;
            grid-gap: 15px 30px;
            grid-template-areas:
                'a aa'
                'b bb'
                'c cc'
                'd dd';

            h4:nth-of-type(1) {
                grid-area: a;
            }

            h4:nth-of-type(2) {
                grid-area: b;
            }

            h4:nth-of-type(3) {
                grid-area: c;
            }

            h4:nth-of-type(4) {
                grid-area: d;
            }

            .a_about {
                grid-area: aa;
            }

            .a_skill {
                grid-area: bb;
                @include flexbox();
                gap: 30px;
            }

            .a_edu {
                grid-area: cc;
            }

            .a_exp {
                grid-area: dd;
            }


            .a_about,
            .a_skill,
            .a_edu,
            .a_exp {
                div {
                    margin-bottom: 13px;

                    p {
                        font-size: 0.9rem;
                        line-height: 1.3rem;
                    }
                }
            }

            &.off {
                opacity: 0;
            }

        }

        .photoGrid {
            transition: 0.5s;
            position: absolute;
            transform: translate(50%, -50%);
            top: 52%;
            left: 36%;

            width: 500px;
            display: grid;
            box-sizing: content-box;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
            grid-gap: 6px;

            grid-template-areas:
                '. area2 area3 area0 area4'
                '. area1 area8 p1 p1'
                '. area6 area7 p1 p1'
                'area5 p2 p2 p1 p1'
                'area12 p2 p2 area9 area10'
                'area13 p2 p2 area11 area14';

            .skillBox {
                position: relative;
                width: 100px;
                min-height: 90px;
                background-color: #F2F2F2;
                border-radius: 10px;

                display: flex;
                justify-content: center;
                align-items: center;

                .skillColor {
                    position: absolute;
                    width: 50px;
                    transition: 0.4s;
                    opacity: 0.5;

                    img {
                        width: 100%;
                    }
                }
            }

            .skillBox:hover {
                .skillColor {
                    opacity: 1;

                }
            }

            .skillBox[style*="area0"] {
                grid-area: area0;
            }

            .skillBox[style*="area1"] {
                grid-area: area1;
            }

            .skillBox[style*="area2"] {
                grid-area: area2;
            }

            .skillBox[style*="area3"] {
                grid-area: area3;
            }

            .skillBox[style*="area4"] {
                grid-area: area4;
            }

            .skillBox[style*="area5"] {
                grid-area: area5;
            }

            .skillBox[style*="area6"] {
                grid-area: area6;
            }

            .skillBox[style*="area7"] {
                grid-area: area7;
            }

            .skillBox[style*="area8"] {
                grid-area: area8;
            }

            .skillBox[style*="area9"] {
                grid-area: area9;
            }

            .skillBox[style*="area10"] {
                grid-area: area10;
            }

            .skillBox[style*="area11"] {
                grid-area: area11;
            }

            .skillBox[style*="area12"] {
                grid-area: area12;
            }

            .skillBox[style*="area13"] {
                grid-area: area13;
            }

            .skillBox[style*="area14"] {
                grid-area: area14;
            }

            .p1 {
                grid-area: p1;
            }

            .p2 {
                grid-area: p2;
            }

            .photo1,
            .photo2 {
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            &.off {
                opacity: 0;
            }
        }



        .link {
            position: absolute;
            top: 550px;
            width: 45%;

            >a {
                @include flexbox(sb, c);
                width: 100%;
                height: 60px;
                padding: 0 40px;


                .link_title {
                    @include flexbox();
                    align-items: center;


                    b {}

                    p {
                        font-size: 0.9rem;
                        margin-left: 20px;
                    }
                }

                >p {
                    img {
                        width: 70%;
                    }
                }

            }

            >a:hover {
                background-color: #057FFE;
                color: #fff;
                border-radius: 10px;
                border: none;
            }

        }
    }


}

@include responsive(xxxl) {

    .about2 {
        .about_main {
            .photoGrid {
                left: 25%;
            }
        }
    }
}

@include responsive(xxl) {
    .about2 {
        .about_main {
            display: block;

            .title {
                font-size: 1.6rem;
                line-height: 2.2rem;
                margin: 0 0 8% 0;
            }

            .link {
                position: static;
                width: 100%;
                margin-top: 5%;
            }

            .photoGrid {
                transform: translate(0, -50%);
                top: 48%;
                left: calc(50% - 250px);
            }
        }
    }
}

@include responsive(xl) {
    .about2 {

        .about_main {
            .title {
                font-size: 1.4rem;
                line-height: 2rem;

                br {
                    display: none;
                }

                .toggle {
                    transform: scale(0.9);
                }

            }

            .profile {
                margin: 0 0 7% 0;
            }

            .link {
                >a {}
            }
        }
    }
}


@include responsive(m) {
    .about2 {
        .about_main {
            .title {
                padding: 20px 0;
            }

            .profile {
                grid-template-columns: 40% 60%;
            }

            .link {
                >a {
                    background-color: #057FFE;
                    color: #fff;
                    border-radius: 10px;
                    border: none;
                    margin: 5px 0;
                }
            }

            .photoGrid {
                width: 90%;
                transform: translate(-50%, -50%);
                top: 55%;
                left: 49%;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    'area5 area12 area13 area6'
                    'area2 area3 area0 area4'
                    'area1 area8 area7 area9'
                    'area10 area11 area14 .'
                    'p1 p1 p2 p2';

                .skillBox {
                    width: 100%;
                    height: 100%;

                    .skillColor {
                        width: 50%;
                    }
                }
            }

        }
    }
}


@include responsive(s) {
    .about2 {
        margin: 0 20px;

        .about_main {
            .profile {
                grid-template-columns: 30% 70%;
            }

            .photoGrid {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    'area5 area12 area13'
                    'area6 area2 area3'
                    'area0 area4 area1'
                    'area8 area7 area9'
                    'area10 area11 area14'
                    'p1p2 .';
            }
        }
    }
}


//project project project project project project

.project {
    margin: 0 50px;

    .p_main {
        padding: 9% 0 0;
        @include flexbox(sb);

        .p_left {
            width: 32%;
            @include column-flexbox();
            gap: 200px;

            .p_left_content1 {
                >span {
                    color: #A0A0A0;
                    padding-left: 5px;
                }

                .contents_title {
                    @include flexbox(s);
                    align-items: baseline;

                    >h3 {
                        font-size: 2rem;
                        font-weight: normal;
                        margin: 5px 0 30px;
                        word-break: keep-all;
                    }

                    >h4 {
                        margin-left: 15px;
                        font-weight: normal;
                    }

                }

                >p {
                    font-size: 0.8rem;
                }


            }


            .p_left_content2 {
                margin-top: 30%;
                font-size: 0.8rem;

                .content_icon {
                    @include flexbox(e);
                    gap: 10px;
                    margin-bottom: 15px;
                    margin-right: 25px;

                    a {
                        img {
                            width: 50px;
                        }
                    }
                }

                .p_c_flex,
                .p_c_flex_bottom {
                    @include flexbox();
                    border-top: 1px solid #A0A0A0;
                    padding: 10px 15px;
                    gap: 20px;
                }

                .p_c_flex_bottom {
                    border-bottom: 1px solid #A0A0A0;
                }

                p:nth-of-type(1) {
                    width: 18%;
                    color: #A0A0A0;
                    white-space: nowrap;

                }


            }


        }

        .p_right {
            background-color: #F2F2F2;
            width: 62%;
            border-radius: 20px;
            position: relative;
            overflow: hidden;

            .p_mockup_w {
                .box01 {
                    max-width: 96%;
                    position: absolute;
                    top: 5%;
                    left: 2%;
                    z-index: -1;

                    img {
                        width: 100%;
                    }
                }

                .ipadW {
                    max-width: calc(52% - 100px);
                    position: absolute;
                    top: 15.5%;
                    left: 10%;
                    z-index: 2;

                    img {
                        width: 100%;
                    }
                }

            }

            .p_mockup_h {
                .box02 {
                    max-width: calc(39.5% - 100px);
                    position: absolute;
                    position: absolute;
                    top: 17.4%;
                    left: 57.3%;

                    img {
                        width: 100%;
                    }
                }

                .ipadH {
                    max-width: calc(42% - 100px);
                    position: absolute;
                    top: 15.5%;
                    left: 56%;

                    img {
                        width: 100%;
                    }
                }
            }

        }

        .p_right:hover {

            .p_mockup_w {
                .box01 {
                    top: 95%;
                    transform: translate(0, calc(-100%));
                    transition: 4s ease-out;
                }
            }
        }



    }


    .scroll {

        text-align: center;
        margin-top: 5%;
        padding-top: 10px;
    }


}

@include responsive(xxxxl) {
    .project {
        .p_main {
            .p_left {}

            .p_right {
                .p_mockup_w {
                    .box01 {}

                    .ipadW {
                        max-width: 300px;
                    }
                }

                .p_mockup_h {
                    .box02 {
                        max-width: 220px;
                    }

                    .ipadH {
                        max-width: 240px;
                    }
                }
            }
        }
    }

}

@include responsive(xxxl) {
    .project {
        .p_main {
            .p_left {
                width: 50%;
            }

            .p_right {
                width: 45%;

                .p_mockup_w {
                    .ipadW {
                        top: 15.5%;
                        left: 17%;
                    }
                }

                .p_mockup_h {
                    display: none;
                }
            }
        }
    }

}

@include responsive(xxl) {
    .project {
        .p_main {
            .p_right {
                .p_mockup_w {
                    .ipadW {
                        left: 10%;
                    }
                }
            }
        }
    }

}

@include responsive(xl) {
    .project {
        .p_main {
            display: block;


            .p_left {
                width: 100%;
                display: block;

                .p_left_content1 {
                    span {
                        font-size: 1rem;
                    }

                    .contents_title {
                        h3 {
                            font-size: 1.7rem;
                            margin: 5px 0 12px;
                        }
                    }
                }

                .p_left_content2 {
                    margin-top: 7%;
                }
            }

            .p_right {
                display: block;
                width: 100%;
                height: 500px;
                margin: 5% 0;

                .p_mockup_w {
                    .box01 {}

                    .ipadW {
                        max-width: 70%;
                        top: 10%;
                        left: 15%;

                    }
                }
            }
        }
    }
}

@include responsive(s) {

    .project {
        margin: 0 20px;

        .p_main {
            .p_left {
                .p_left_content1 {
                    .contents_title {
                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}





//contact  contact  contact  contact  contact  contact

.contact {
    margin: 0 50px;

    .c_main {
        margin-top: 10%;
        @include flexbox();

        .c_left {

            width: 530px;
            padding: 2%;

            .msg_chat {
                @include flexbox(sb, c);
                padding-bottom: 6%;

                .msg_name {
                    font-weight: bold;
                    padding: 0 5%;
                }

                .msg_img {
                    width: 40px;
                    border: 0.5px solid #A0A0A0;
                    border-radius: 20px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }
            }


            .msg_list {
                height: 60vh;
                overflow-y: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }

                @include flexbox() {
                    flex-direction: column
                }

                .bubble {
                    position: relative;
                    padding: 10px 36px 13px;
                    margin-bottom: 15px;
                    font-size: 24px;

                    &.blue {
                        background-color: #067FFE;
                        color: white;
                        margin-left: auto;
                        margin-right: 10px;

                        opacity: 0;
                        transform: translateY(50px);
                        animation: fadein 1s forwards;
                    }

                    &.blue:before,
                    &.blue:after,
                    &.blue>span:before,
                    &.blue>span:after {
                        content: '';
                        position: absolute;
                        height: 26px;
                        width: 30px;
                        background: url('../public/img/bg_chat_b.jpg') no-repeat 0 0;
                    }

                    &.gray {
                        background-color: #E5E5EA;
                        color: black;
                        margin-right: auto;
                    }

                    &.gray:before,
                    &.gray:after,
                    &.gray>span:before,
                    &.gray>span:after {
                        content: '';
                        position: absolute;
                        height: 26px;
                        width: 30px;
                        background: url('../public/img/bg_chat_g.jpg') no-repeat 0 0;

                    }


                    &:before {
                        left: 0;
                        top: 0;
                        background-position: 0 0 !important;
                    }

                    &:after {
                        right: -7px;
                        top: 0;
                        background-position: right 0 !important;
                    }

                    span {
                        &:before {
                            left: 0;
                            bottom: 0;
                            background-position: 0 calc(100% + 1px) !important;
                        }

                        &:after {
                            right: -7px;
                            bottom: 0;
                            background-position: right calc(100% + 1px) !important;
                        }

                        button {
                            border: none;
                            outline: none;
                            background-color: inherit;
                            cursor: pointer;
                            vertical-align: middle;
                            color: #419dff;
                            padding-left: 10px;
                        }
                    }

                }

            }

            .msg_write {
                @include flexbox(sb, c);
                flex-wrap: wrap;
                padding-top: 10px;

                .msg_btn {
                    button {
                        border: none;
                        outline: none;
                        background-color: inherit;
                        cursor: pointer;
                    }
                }

                .msg_input {
                    width: 66%;
                    border: 1px solid #d1d1d1;
                    border-radius: 30px;
                    padding: 5px 0 5px 15px;

                    form {
                        @include flexbox(sb, c);

                    }

                    input {
                        border: 0;
                        background: none;
                    }

                    input:focus {
                        outline: none;
                    }

                    button {
                        border: none;
                        outline: none;
                        background-color: inherit;
                        cursor: pointer;

                    }
                }
            }

        }

        .c_right {
            padding: 2% 3%;

            h3 {
                font-size: 4.5vw;
            }

            .call {
                margin-top: 5%;
                font-size: 30px;
                color: rgb(160, 160, 160, 0.4);
                font-weight: bold;


                >p {
                    padding: 3px 0;
                }
            }
        }
    }

    .c_title_sub {
        width: 100%;
        @include flexbox(sb, c);
        padding-bottom: 20px;

        span {
            color: #fff;
        }
    }

}

@include responsive(xxl) {
    .contact {
        .c_main {
            .c_right {
                h3 {
                    font-size: 3.5vw;
                }

                .call {
                    font-size: 20px;
                }
            }
        }
    }
}

@include responsive(xl) {
    .contact {
        .c_main {
            display: block;
            border-top: none;
            padding: 10% 0;

            .c_left {
                width: 100%;

                .msg_list {
                    justify-content: center;
                }
            }

            .c_right {
                margin: 20% 0 5%;
                border: none;

                h3 {
                    font-size: 50px;
                }

                .call {
                    margin-top: 5%;

                }
            }
        }

        .c_title_sub {
            display: none;
        }
    }
}

@include responsive(m) {
    .contact {
        .c_main {
            .c_left {
                padding: 0;

                .msg_write {
                    flex-wrap: nowrap;

                    .msg_btn {
                        button {
                            width: 30%;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .msg_input {
                        form {
                            width: 100%;

                            input {}
                        }
                    }
                }
            }
        }
    }
}

@include responsive(s) {
    .contact {
        margin: 0 20px;

        .c_main {
            .c_left {
                .msg_write {
                    .msg_input {
                        form {
                            input {
                                width: 100%;
                            }

                            button {
                                img {
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            }

            .c_right {
                h3 {
                    font-size: 40px;
                }

                .call {}
            }
        }
    }
}

@include responsive(xl) {}